{extend name="index" /} {block name="title"} 景点管理 {/block} {block name="content"}
<div class="col-md-8 col-md-offset-1" style="margin-top: 60px;min-height: 760px;">
    <div class="row">
        <h2><span class="glyphicon glyphicon-edit"></span>&nbsp;
            {eq name="$attraction->id" value="0"}
            添加日程
            {else /}
            编辑日程
            {/eq}
        </h2>
        <br> {php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
        <form method="post" action="{:url($action, ['articleId' => $articleId, 'attractionId' => $attraction->id])}" enctype="multipart/form-data">
            <div class="form-group">
                <label>当日总行程</label>
                <input type="text" class="form-control" name="trip" placeholder="行程" value="{$attraction->trip}" required>
            </div>
            <div class="form-group">
                <label>当日日期</label>
                <input type="date" class="form-control" name="date" placeholder="日期" value="{$attraction->date}" required>
            </div>
            <!-- <div class="form-group">
                <label>导游</label>
                <input type="text" class="form-control" name="guide" placeholder="导游" value="{$attraction->guide}" required>
            </div> -->
            <div class="form-group">
                <label>描述</label>
                <textarea class="form-control" name="description" rows="3" placeholder="描述" required>{$attraction->description}</textarea>
            </div>
            <div class="form-group">
                <label>用餐</label>
                <div>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="meal[]" value="breakfast" {eq name="$attraction->defaultCheck(request()->action())" value="true"}checked{/eq} {eq name="$attraction->getMealIsChecked('breakfast')" value="true" }checked{/eq}> 早餐
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="meal[]" value="lunch" {eq name="$attraction->getMealIsChecked('lunch')" value="true" }checked{/eq}> 午餐
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="meal[]" value="supper" {eq name="$attraction->getMealIsChecked('supper')" value="true" }checked{/eq}> 晚餐
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="meal[]" value="selfcare" {eq name="$attraction->getMealIsChecked('selfcare')" value="true" }checked{/eq}> 自理
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>用车</label>
                <div>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="car[]" value="plane" {eq name="$attraction->getCarIsChecked('plane')" value="true" }checked{/eq}> 飞机
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="car[]" value="pickPlane" {eq name="$attraction->getCarIsChecked('pickPlane')" value="true" }checked{/eq}> 接机
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="car[]" value="sendPlane" {eq name="$attraction->getCarIsChecked('sendPlane')" value="true" }checked{/eq}> 送机
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="car[]" value="train" {eq name="$attraction->getCarIsChecked('train')" value="true" }checked{/eq}> 火车
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="car[]" value="ship" {eq name="$attraction->getCarIsChecked('ship')" value="true" }checked{/eq}> 轮渡
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="car[]" value="allDayCar" {eq name="$attraction->getCarIsChecked('allDayCar')" value="true" }checked{/eq}> 全天用车
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" name="car[]" value="halfDayCar" {eq name="$attraction->getCarIsChecked('halfDayCar')" value="true" }checked{/eq}> 半天用车
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>素材</label>
                <div>
                    {volist name="$material->getAllCountries()" id="country"}
                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <label>{$country}</label>
                            <table class="table table-bordered">
                                {volist name="$material->getAreasByCountry($country)" id="area"}
                                <tr>
                                    <th class="col-md-3">{$area}</th>
                                    <td>
                                        {volist name="$material->getMaterialByCountryAndCity($country, $area)" id="material"}
                                        <label class="checkbox-inline">
                                            <input type="checkbox" name="materialId[]" value="{$material->id}" {eq name="$material->getIsChecked($attraction->id)" value="true  " }checked{/eq}> {$material->designation}
                                        </label>
                                        {/volist}
                                    </td>
                                </tr>
                                {/volist}
                            </table>
                        </div>
                    </div>
                    {/volist}
                </div>  
            </div>
            <div class="form-group">
                <label>酒店</label>
                <div class="row">
                    <div class="col-md-12">
                        <p id="city" class="hide">{$hotel->city}</p>
                        <p id="star" class="hide">{$hotel->star_level}</p>
                        <p id="name" class="hide">{$hotel->designation}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 row">
                        <label class="col-md-4 select_lable">国家</label>
                        <div class="col-md-8">
                        <select id="hotel-country" class="form-control" onclick="hotelGetCity()">
                            {volist name="$hotel->getAllCountries()" id="country"}
                            <option {eq name="$hotel->country" value="$country"}selected="true"{/eq} >
                                {$country}
                            </option>
                            {/volist}
                        </select>
                        </div>
                    </div>
                    <div class="col-md-3 row">
                        <label class="col-md-4 select_lable">城市</label>
                        <div class="col-md-8">
                        <select id="hotel-city" class="form-control" onclick="hotelGetStar()">

                        </select>
                        </div>
                    </div>
                    <div class="col-md-3 row">
                        <label class="col-md-4 select_lable">星级</label>
                        <div class="col-md-8">
                        <select id="hotel-star" class="form-control" onclick="hotelGetName()">

                        </select>
                        </div>
                    </div>
                    <div class="col-md-3 row">
                        <label class="col-md-4 select_lable">酒店</label>
                        <div class="col-md-8">
                        <select name="hotelId" id="hotel-name" class="form-control">

                        </select>
                        </div>
                    </div>
                </div>
                <!--<div>
                    {volist name="$hotel->getAllCountries()" id="country"}
                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <label>{$country}</label>
                            <table class="table table-bordered">
                                {volist name="$hotel->getCitiesByCountry($country)" id="city"}
                                <tr>
                                    <th class="col-md-3">{$city}</th>
                                    <td class="col-md-9">
                                        <table>
                                            {volist name="$hotel->getStarsByCountryAndCity($country, $city)" id="star"}
                                            <tr>
                                                <th>{$star}</th>
                                                <td>
                                                    {volist name="$hotel->getHotelsByCountryAndCityAndStar($country, $city, $star)" id="hotel"}
                                                    <label>
                                                        <input type="radio" name="hotelId" value="{$hotel->id}" {eq name="$attraction->hotel_id" value="$hotel->id" }checked{/eq}> {$hotel->designation}
                                                    </label>
                                                    {/volist}
                                                </td>
                                            </tr>
                                            {/volist}
                                        </table>
                                    </td>
                                </tr>
                                {/volist}
                            </table>
                        </div>
                    </div>
                    {/volist}
                </div>
                -->
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>&nbsp;完成</button>
        </form>
    </div>
</div>
<script>
    function hotelGetCity() {
        var city  　　　　= document.getElementById('city').innerHTML;
        var countryNode  = document.getElementById('hotel-country');
        var countryIndex = countryNode.selectedIndex;
        var cityNode     = document.getElementById('hotel-city');
        var starNode     = document.getElementById('hotel-star');
        var nameNode     = document.getElementById('hotel-name');

        starNode.length  = 0;
        nameNode.length  = 0;

        console.log(countryIndex);

        // 获取域名
        var host = window.location.host;
        // 拼接路径
        var url = "http://" + host + "/index/attraction/getCity?country=" + countryIndex;
        //发送ajax请求
        console.log(url);

        $.ajax({
            url:   url,
            type: "get",
            success: function (response) {
                var cities = response;

                cityNode.length = 0;

                for (var i = 0; i < cities.length; i ++) {

                    var cityOption = document.createElement('option');
                    cityOption.innerHTML = cities[i];

                    console.log(cityOption);

                    cityNode.appendChild(cityOption);
                }

                for (var i = 0; i < cityNode.options.length; i ++) {

                    if (cityNode.options[i].innerHTML == city) {
                        cityNode.options[i].setAttribute("selected", "true");
                    }
                }

                console.log("testIndex" + cityNode.selectedIndex);

                hotelGetStar();
            },
            error: function (xhr) {
                cityNode.length = 0;
            }
        });
    }

    function hotelGetStar() {
        var star  　　　　= document.getElementById('star');
        var countryNode  = document.getElementById('hotel-country');
        var countryIndex = countryNode.selectedIndex;
        var cityNode     = document.getElementById('hotel-city');
        var cityIndex    = cityNode.selectedIndex;
        var starNode     = document.getElementById('hotel-star');
        var nameNode     = document.getElementById('hotel-name');

        nameNode.length  = 0;

        console.log(countryIndex);
        console.log(cityIndex);

        // 获取域名
        var host = window.location.host;
        // 拼接路径
        var url = "http://" + host + "/index/attraction/getStar?country=" + countryIndex + "&city=" + cityIndex;
        //发送ajax请求
        console.log(url);

        $.ajax({
            url:   url,
            type: "get",
            success: function (response) {
                var stars = response;

                starNode.length = 0;

                for (var i = 0; i < stars.length; i ++) {
                    var starOption = document.createElement('option');
                    starOption.innerHTML = stars[i];
                    starNode.appendChild(starOption);
                }

                for (var i = 0; i < starNode.options.length; i ++) {

                    if (starNode.options[i].innerHTML == star) {
                        starNode.options[i].setAttribute("selected", "true");
                    }
                }

                console.log(stars);

                hotelGetName();
            },
            error: function (xhr) {
                starNode.length = 0;
            }
        });
    }

    function hotelGetName() {
        var name         = document.getElementById('name');
        var countryNode  = document.getElementById('hotel-country');
        var countryIndex = countryNode.selectedIndex;
        var cityNode     = document.getElementById('hotel-city');
        var cityIndex    = cityNode.selectedIndex;
        var starNode     = document.getElementById('hotel-star');
        var starIndex    = starNode.selectedIndex;
        var nameNode     = document.getElementById('hotel-name');

        console.log(countryIndex);
        console.log(cityIndex);
        console.log(starIndex);

        // 获取域名
        var host = window.location.host;
        // 拼接路径
        var url = "http://" + host + "/index/attraction/getHotelName?country=" + countryIndex + "&city=" + cityIndex + "&star=" + starIndex;
        //发送ajax请求
        console.log(url);

        $.ajax({
            url:   url,
            type: "get",
            success: function (response) {
                var names = response;

                nameNode.length = 0;

                for (var i = 0; i < names.length; i ++) {
                    var nameOption = document.createElement('option');
                    nameOption.innerHTML = names[i].designation;
                    nameOption.value     = names[i].id;
                    nameNode.appendChild(nameOption);
                }

                for (var i = 0; i < nameNode.options.length; i ++) {

                    if (nameNode.options[i].innerHTML == star) {
                        nameNode.options[i].setAttribute("selected", "true");
                    }
                }

                console.log(names);
            },
            error: function (xhr) {
                nameNode.length = 0;
            }
        });
    }

    window.onload = function () {
        hotelGetCity();
    }
</script>
{/block}