{extend name="index" /}

{block name="title"}
添加景点
{/block}

{block name="content"}
    <div class="row">
        <div class="col-md-6 col-md-offset-1" style="margin-top: 60px;">
            <h2><span class="glyphicon glyphicon-edit"></span>&nbsp;添加景点</h2>
            <br>
            <form method="post" action="{:url('save?id='.$attractionid)}" enctype="multipart/form-data">
                <div class="form-group">
                    <label>标题</label>
                    <input type="text" class="form-control" name="title" placeholder="地点">
                </div>
                <div class="form-group">
                    <label>描述</label>
                    <textarea class="form-control" rows="3" name="content" placeholder="介绍"></textarea>
                </div>
                <div class="form-group">
                    <label>名称</label>
                    <input type="text" class="form-control" name="name" placeholder="景点">
                </div>
                <div class="form-group">
                    <label>酒店名称</label>
                    <input type="text" class="form-control" name="hotelName" placeholder="酒店名称">
                </div>
                <div class="form-group">
                    <label>酒店所在城市</label>
                    <input type="text" class="form-control" name="hotelCity" placeholder="酒店所在城市">
                </div>
                <div class="form-group">
                    <label>酒店星级</label>
                    <input type="text" class="form-control" name="hotelStarLevel" placeholder="酒店星级">
                </div>
                <div class="form-group">
                    <label>酒店备注</label>
                    <input type="text" class="form-control" name="hotelRemark" placeholder="酒店备注">
                </div>
                <div class="form-group">
                    <label>用餐</label>
                    <input type="text" class="form-control" name="meal" placeholder="用餐">
                </div>
                <div class="form-group">
                    <label>用车</label>
                    <input type="text" class="form-control" name="car" placeholder="用车">
                </div>
                <div class="form-group">
                    <label>导游</label>
                    <input type="text" class="form-control" name="guide" placeholder="导游">
                </div>
                <div class="form-group">
                    <label>图片</label>
                    <input type="file" name="image">
                </div>
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>&nbsp;完成</button>
            </form>
        </div>
    </div>
{/block}