<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>{block name="title"}标题{/block}</title>
    <link rel="stylesheet" type="text/css" href="/beautifulArtical/thinkphp/public/style/css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery/1.8.2/jquery.js"></script>
    <script src="/beautifulArtical/thinkphp/public/node_modules/share/dist/js/jquery.share.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/beautifulArtical/thinkphp/public/style/css/overhidden.css">
    <link rel="stylesheet" href="/beautifulArtical/thinkphp/public/node_modules/share/dist/css/share.min.css">
    <script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- //For-Mobile-Apps-and-Meta-Tags -->
    <!-- Custom Theme files -->
    <link href="/beautifulArtical/thinkphp/public/style/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/beautifulArtical/thinkphp/public/style/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/beautifulArtical/thinkphp/public/style/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- web-fonts -->
    <link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- //web-fonts -->
    <script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);

    function hideURLbar() { window.scrollTo(0, 1); }
    </script>
    <!-- //For-Mobile-Apps-and-Meta-Tags -->
    <!-- Custom Theme files -->
    <link href="/beautifulArtical/thinkphp/public/style/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="/beautifulArtical/thinkphp/public/style/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/beautifulArtical/thinkphp/public/style/css/ken-burns.css" type="text/css" media="all" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- //Custom Theme files -->
    <!-- js -->
    <script src="/beautifulArtical/thinkphp/public/style/js/jquery-2.2.3.min.js"></script>
    <script src="/beautifulArtical/thinkphp/public/style/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- pop-up-box -->
    <script src="/beautifulArtical/thinkphp/public/style/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script>
    $(document).ready(function() {
        $('.popup-top-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });
    });
    </script>
    <!--//pop-up-box -->
    <!-- web-fonts -->
    <link href='//fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- //web-fonts -->
</head>

<body class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{:url('article/index')}">首页</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li {eq name=':request()->controller()' value="Material" } class="active" {/eq}><a href="{:url('Material/index')}">素材管理</a></li>
                            <li {eq name=':request()->controller()' value="Hotel" } class="active" {/eq}><a href="{:url('Hotel/index')}">酒店管理</a></li>
                            <li {eq name=':request()->controller()' value="Contractor" } class="active" {/eq}><a href="{:url('Contractor/index')}">定制师管理</a></li>
                            <li {eq name=':request()->controller()' value="User" } class="active" {/eq}><a href="{:url('User/index')}">个人中心</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('login/logout')}"><i class="glyphicon glyphicon-log-out"></i>&nbsp;登出</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    {block name="content"}{/block}
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Copyright &copy; XXX科技有限公司 All Rights Reserved</p>
            <p class="text-center">Powered By:梦云智</p>
        </div>
    </div>
</body>

</html>