<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <title>{block name="title"}标题{/block}</title>
    <link rel="stylesheet" type="text/css" href="{:__ROOT__}/style/css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="{:__ROOT__}/style/js/jquery-2.1.1.min.js"></script>
    <script src="{:__ROOT__}/style/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="{:__ROOT__}/node_modules/share/dist/js/jquery.share.min.js"></script>
    <script src="{:__ROOT__}/style/js/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{:__ROOT__}/style/css/overhidden.css">
    <link rel="stylesheet" href="{:__ROOT__}/node_modules/share/dist/css/share.min.css">
    <link href="{:__ROOT__}/style/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="{:__ROOT__}/style/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="{:__ROOT__}/style/css/ken-burns.css" type="text/css" media="all" />
</head>

<body class="container">
    <div class="row" style="margin-top: 20px;">
        <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{:url('article/index')}">首页</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li {eq name=':request()->controller()' value="Material" } class="active" {/eq}><a href="{:url('Material/index')}">素材管理</a></li>
                            <li {eq name=':request()->controller()' value="Hotel" } class="active" {/eq}><a href="{:url('Hotel/index')}">酒店管理</a></li>
                            <li {eq name=':request()->controller()' value="Contractor" } class="active" {/eq}><a href="{:url('Contractor/index')}">定制师管理</a></li>
                            <li {eq name=':request()->controller()' value="User" } class="active" {/eq}><a href="{:url('User/index')}">个人中心</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{:url('login/logout')}"><i class="glyphicon glyphicon-log-out"></i>&nbsp;登出</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    {block name="content"}{/block}
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Copyright &copy; XXX科技有限公司 All Rights Reserved</p>
            <p class="text-center">Powered By:梦云智</p>
        </div>
    </div>
</body>

</html>