{extend name="index" /} {block name="title"} 添加方案报价 {/block} {block name="content"}
<script type="text/javascript" src="{:__ROOT__}/style/js/Calculation.js"></script>
<div class="row-fluid">
    <div class="col-md-8 col-md-offset-1" style="margin-top: 60px;min-height: 730px;">
        <div class="row">
            <h2><span class="glyphicon glyphicon-edit"></span>&nbsp;新增方案报价</h2>
            <br>
            <div class="row">
                <div>
                    <form action="{:url('save', ['articleId' => $articleId])}" method="post">
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="firstform">
                                <br>
                                <div class="control-group col-md-12">
                                    <label class="control-label">出行人数</label>
                                    <hr>
                                    <div class="form-group col-md-3">
                                        <label>成人数</label>
                                        <input type="number" class="form-control" id="adultNum" placeholder="成人...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>儿童数</label>
                                        <input type="number" class="form-control" id="childNum" placeholder="儿童...">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>机票</label>
                                    <hr>
                                    <div class="form-group col-md-3">
                                        <label>成人单价</label>
                                        <input type="text" class="form-control" id="adultUnitPrice" placeholder="成人单价...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>儿童单价</label>
                                        <input type="text" class="form-control" id="childUnitPrice" placeholder="儿童单价...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>总价</label>
                                        <input type="text" class="form-control" id="totalCost" placeholder="总价...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>备注</label>
                                        <input type="text" class="form-control" id="remark" placeholder="备注...">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>签证</label>
                                    <hr>
                                    <div class="form-group col-md-3">
                                        <label>成人单价</label>
                                        <input type="text" class="form-control" id="adultUnitPrice" placeholder="成人单价...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>儿童单价</label>
                                        <input type="text" class="form-control" id="childUnitPrice" placeholder="儿童单价...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>总价</label>
                                        <input type="text" class="form-control" id="totalCost" placeholder="总价...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>备注</label>
                                        <input type="text" class="form-control" id="remark" placeholder="备注...">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>旅游</label>
                                    <hr>
                                    <div class="form-group col-md-3">
                                        <label>成人单价</label>
                                        <input type="text" class="form-control" id="adultUnitPrice" placeholder="成人单价...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>儿童单价</label>
                                        <input type="text" class="form-control" id="childUnitPrice" placeholder="儿童单价...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>总价</label>
                                        <input type="text" class="form-control" id="totalCost" placeholder="总价...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>备注</label>
                                        <input type="text" class="form-control" id="remark" placeholder="备注...">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label>保险</label>
                                    <hr>
                                    <div class="form-group col-md-3">
                                        <label>成人单价</label>
                                        <input type="text" class="form-control" id="adultUnitPrice" placeholder="成人单价...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>儿童单价</label>
                                        <input type="text" class="form-control" id="childUnitPrice" placeholder="儿童单价...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>总价</label>
                                        <input type="text" class="form-control" id="totalCost" placeholder="总价...">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>备注</label>
                                        <input type="text" class="form-control" id="remark" placeholder="备注...">
                                    </div>
                                </div>
                                <div class="control-group">
                                    
                                        <label for="currency">币种</label>
                                    
                                    <div class="controls">
                                        <input type="text" class="form-control" name="currency" placeholder="币种..." />
                                    </div>
                                </div>
                                <hr>
                                <div class="control-group">
                                    <label for="totalCost">总费用</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="totalCost" placeholder="总费用..." />
                                    </div>
                                </div>
                                <hr>
                                <div class="control-group">
                                    <label for="lastPayTime">最晚付款时间</label>
                                    <div class="controls">
                                        <input type="date" class="form-control" name="lastPayTime" />
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="control-group">
                                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span>&nbsp;提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}