{extend name="index" /} {block name="title"}酒店管理{/block} {block name="content"}
<div class="row">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="city">城市</label>
                        <input name="city" type="text" class="form-control" placeholder="城市名称..." value = "{:input('get.city')}">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                </form>
            </div>
            <div class="col-md-4 text-right">
                <a class="btn btn-primary" href="{:url('hotel/add')}"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;添加酒店</a>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
    </div>
    <ul class="container list-unstyled" style="min-height: 300px;">
        <table class="table table-hover table-bordered">
            <tr class="info">
                <th>目的城市</th>
                <th>目的国家</th>
                <th>星级</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            {volist name="hotels" id="hotel"}
            <tr>
                <td>{$hotel->city}</td>
                <td>{$hotel->country}</td>
                <td>{$hotel->star_level}</td>
                <td>{$common->limitWordNumber($hotel->remark, 80)}</td>
                <td>
                    <div class="col-md-1 col-md-offset-1">
                        <a href="{:url('hotel/edit', ['hotelId' => $hotel->id])}" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
                    </div>
                    <div class="col-md-1 col-md-offset-2">
                        <a href="{:url('hotel/delete', ['hotelId' => $hotel->id])}" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>
                    </div>
                </td>
            </tr>
            {/volist}
        </table>       
    </ul>
    <div class="container text-right" style="height: 79px;">
        {$hotels->render()}
    </div>
</div>
<div class="container">
    <hr>
</div>
{/block}