{extend name="index" /}
{block name="title"}首页{/block}
<body>
{block name="content"}
    <div class="row">
        <br>
        <div class="row">
            <div class="col-md-offset-9">
                <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;添加文章</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2 col-md-offset-3">
                <div class="package list-group-item">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <a href="#"><h3>标题</h3></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="col-md-10">
                                <a href="#">
                    		<img src="\beautifulArtical\thinkphp\public\1.jpg" height="125" weight="125">
                    	</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <a href="#">
                                <p>文章摘要</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;预览</button>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</button>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="package list-group-item">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <a href="#"><h3>标题</h3></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="col-md-10">
                                <a href="#">
                    		<img src="\beautifulArtical\thinkphp\public\1.jpg" height="125" weight="125">
                    	</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <a href="#">
                                <p>文章摘要</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;预览</button>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</button>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="package list-group-item">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <a href="#"><h3>标题</h3></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="col-md-10">
                                <a href="#">
                    		<img src="\beautifulArtical\thinkphp\public\1.jpg" height="125" weight="125">
                    	</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <a href="#">
                                <p>文章摘要</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;预览</button>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</button>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2 col-md-offset-3">
                <div class="package list-group-item">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <a href="#"><h3>标题</h3></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="col-md-10">
                                <a href="#">
                    		<img src="\beautifulArtical\thinkphp\public\1.jpg" height="125" weight="125">
                    	</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <a href="#">
                                <p>文章摘要</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;预览</button>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</button>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="package list-group-item">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <a href="#"><h3>标题</h3></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="col-md-10">
                                <a href="#">
                    		<img src="\beautifulArtical\thinkphp\public\1.jpg" height="125" weight="125">
                    	</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <a href="#">
                                <p>文章摘要</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;预览</button>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</button>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="package list-group-item">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <a href="#"><h3>标题</h3></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="col-md-10">
                                <a href="#">
                    		<img src="\beautifulArtical\thinkphp\public\1.jpg" height="125" weight="125">
                    	</a>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <a href="#">
                                <p>文章摘要</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;预览</button>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</button>
                        </div>
                        <div class="col-md-1 col-md-offset-2">
                            <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-offset-7">
        	<nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
        				<span aria-hidden="true">&laquo;</span>
      				</a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
        				<span aria-hidden="true">&raquo;</span>
      				</a>
                </li>
            </ul>
        	</nav>
        </div>
    </div>
</div>
{/block}
</body>

</html>