<!DOCTYPE html>
<html>

<head>
    <title>洛克旅行</title>
    <!-- For-Mobile-Apps-and-Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="" />
    <!-- Custom Theme files -->
    <link href="{:__ROOT__}/style/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="{:__ROOT__}/style/css/style.css" type="text/css" rel="stylesheet" media="all">
    <!-- Slider Show css-->
    <link rel="stylesheet" href="{:__ROOT__}/style/css/ken-burns.css" type="text/css" media="all" />
    <!-- //Custom Theme files -->
    <script src="{:__ROOT__}/style/js/jquery-2.2.3.min.js"></script>
    <!-- nice scroll-js -->
    <script src="{:__ROOT__}/style/js/jquery.nicescroll.min.js"></script>
    <script>
    $(document).ready(function() {

        var nice = $("html").niceScroll(); // The document page (body)

        $("#div1").html($("#div1").html() + ' ' + nice.version);

        $("#boxscroll").niceScroll({ cursorborder: "", cursorcolor: "#00F", boxzoom: true }); // First scrollable DIV
    });
    </script>
    <script src="{:__ROOT__}/style/js/bootstrap.js"></script>
    <!-- nice scroll-js -->
    <script src="{:__ROOT__}/style/js/custom.js"></script>
</head>

<body class="bg" style="overflow-x: hidden;">
    <div class="agile-main">
        <div class="content-wrap">
            <!-- 紫色顶部 -->
            <div class="header">
                <div class="menu-icon">
                    <button class="menu-button"></button>
                </div>
                <div class="logo">
                    <h2><a>洛克</a></h2>
                    <!-- 可以换成洛克酒店的logo -->
                </div>
                <div class="login">
                    <span class="sign-in popup-top-anim glyphicon glyphicon-user menu-button"></span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="welcome">
                    <h3 class="w3ls-title" style="color: #81be32;">{$article->title}</h3>
                    <br>
                    <div>
                        <img src="{:__ROOT__}/upload/{$article->cover}" height="150" width="97%">
                    </div>
                    <p class="w3title-text" style="text-align: left;">&nbsp;&nbsp;{$article->summery}</p>
                    <br>
                </div>
            <div class="content">
                <!-- //slider show -->
                <!-- 九项服务，一价全包 -->
                <div style="background-color: #e6e6fa;">
                    <div class="clearfix"></div>
                    <br>
                    <h3 style="text-align: center;">九项服务，一价全包</h3>
                    <br>
                    <div class="brand-grids">
                        <img src="{:__ROOT__}/style/images/9_01.gif" alt="" />
                    </div>
                    <div class="brand-grids">
                        <img src="{:__ROOT__}/style/images/9_02.gif" alt="" />
                    </div>
                    <div class="brand-grids">
                        <img src="{:__ROOT__}/style/images/9_03.gif" alt="" />
                    </div>
                    <div class="brand-grids">
                        <img src="{:__ROOT__}/style/images/9_04.gif" alt="" />
                    </div>
                    <div class="brand-grids">
                        <img src="{:__ROOT__}/style/images/9_05.gif" alt="" />
                    </div>
                    <div class="brand-grids">
                        <img src="{:__ROOT__}/style/images/9_06.gif" alt="" />
                    </div>
                    <div class="brand-grids">
                        <img src="{:__ROOT__}/style/images/9_07.gif" alt="" />
                    </div>
                    <div class="brand-grids">
                        <img src="{:__ROOT__}/style/images/9_08.gif" alt="" />
                    </div>
                    <div class="brand-grids">
                        <img src="{:__ROOT__}/style/images/9_09.gif" alt="" />
                    </div>
                    <div class="clearfix"></div>
                    <br><br>
                </div>
                <!-- //九项服务，一价全包 -->
                <!-- 定制自由行，让出国旅行更简单 -->
                <div class="about">
                    <h3 style="text-align: center;color: #81be32;">定制自由行<br>让出国旅行更简单</h3>
                    <ul>
                        <li>
                            <p class="pfont6"><span class="glyphicon glyphicon-hand-right"></span>更省心。不用你操心，机票酒店活动签证租车...麻烦事儿全都有人包办</p>
                        </li>
                        <li>
                            <p class="pfont6"><span class="glyphicon glyphicon-hand-right"></span>更个性。形成随便调，量身打造玩啥你说了算，满意再付全款</p>
                        </li>
                        <li>
                            <p class="pfont6"><span class="glyphicon glyphicon-hand-right"></span>更舒心。专业更靠谱，100+位资深专业订制师，让你的行程不留遗憾</p>
                        </li>
                        <li>
                            <p class="pfont6"><span class="glyphicon glyphicon-hand-right"></span>更自由。不再人挤人，定制专属路书，旅行团去不了的地方你能去</p>
                        </li>
                        <li>
                            <p class="pfont6"><span class="glyphicon glyphicon-hand-right"></span>更划算。不花冤枉钱。九项服务一价全包，定制的服务，跟团的价格</p>
                        </li>
                        <li>
                            <p class="pfont6"><span class="glyphicon glyphicon-hand-right"></span>更安全。全程有保障，专属行后保障团队，遇到问题有人管，出行不担心</p>
                        </li>
                    </ul>
                </div>
                <!-- //定制自由行，让出国旅行更简单 -->
                <!-- 六大品质保证 -->
                <div class="about" style="background-color:  #e6e6fa;">
                    <h3 style="text-align: center;">6大品质保障<br>开启全新旅行体验</h3>
                    <ul>
                        <li>
                            <p class="pfont6"><span class="glyphicon glyphicon-leaf"></span>全程商务专车，专业当地华人双语导游</p>
                        </li>
                        <li>
                            <p class="pfont6"><span class="glyphicon glyphicon-leaf"></span>独立成团，不与陌生人拼团</p>
                        </li>
                        <li>
                            <p class="pfont6"><span class="glyphicon glyphicon-leaf"></span>真正纯玩品质，承诺0购物0自费</p>
                        </li>
                        <li>
                            <p class="pfont6"><span class="glyphicon glyphicon-leaf"></span>导游带您深入小众美景，去除不安全地带</p>
                        </li>
                        <li>
                            <p class="pfont6"><span class="glyphicon glyphicon-leaf"></span>全程甄选酒店，安全舒适</p>
                        </li>
                        <li>
                            <p class="pfont6"><span class="glyphicon glyphicon-leaf"></span>私家尊享，7* 24小时专属旅行管家</p>
                        </li>
                    </ul>
                </div>
                <!-- //六大品质保证 -->
                <!-- 定制自由行，让出国旅行更简单 -->
                {volist name="paragraphUps" id="pragraph"}
                <div class="about">
                    <h3 style="text-align: center;" class="w3ls-title">{$pragraph->title}</h3> {$pragraph->content}
                    <div class="properties-img" {eq name="$pragraph->image" value="" }style="display: none"{/eq}>
                        <img src="{:__ROOT__}/upload/{$pragraph->image}" {eq name="$_pragraph->image" value="" }style="display: none"{/eq}>
                    </div>
                </div>
                {/volist}
                <!-- 旅游行程 -->
                <br><br>
                <div class="w3agile properties">
                    <h3 class="w3ls-title" style="color: #8b008b;">旅游线路</h3>
                    {volist name="attractions" id="attraction" key="key"}
                    <div class="properties-bottom">
                        <div class="properties-img">
                            <img src="{:__ROOT__}/upload/{$attraction->getMainMaterial()->image}" alt="">
                            <div class="view-caption">
                                <h4><span class="glyphicon glyphicon-map-marker"></span>
                                {$attraction->getMainMaterial()->designation} </h4>
                            </div>
                            <div class="w3ls-buy">
                                <a href="single.html">Day{$key}</a>
                            </div>
                        </div>
                        <div class="w3ls-text">
                            <p>&bull;&nbsp;{$attraction->getMainMaterial()->content}</p>
                            <p><b class="pfont">景点 :</b> {$attraction->title} </p>
                            <p><b class="pfont">酒店 :</b> {$attraction->getHotel()->designation} </p>
                            <p><b class="pfont">用餐 :</b> {$attraction->meal} </p>
                            <p><b class="pfont">用车 :</b> {$attraction->car} </p>
                            <p><b class="pfont">导游 :</b> {$attraction->guide} </p>
                        </div>
                    </div>
                    {/volist}
                    <div class="clearfix"></div>
                </div>
                {volist name="paragraphDowns" id="_pragraph"}
                <div class="about">
                    <h3 style="text-align: center;" class="w3ls-title">{$_pragraph->title}</h3> {$_pragraph->content}
                    <div class="properties-img" {eq name="$_pragraph->image" value="" }style="display: none"{/eq}>
                         <img src="{:__ROOT__}/upload/{$_pragraph->image}">
                    </div>
                </div>
                {/volist}
                <!-- //旅游行程 -->
                <div class="contact">
                    <!-- 定制师 -->
                    <div class="contact-form" >
                        <br>
                        <p class="pcontact1">定制师信息</p>
                        <table class="table table-bordered">
                            <tr>
                                <th>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;字</th>
                                <td>{$contractor->designation}</td>
                            </tr>
                            <tr>
                                <th>电话号码</th>
                                <td>{$contractor->phone}</td>
                            </tr>
                            <tr>
                                <th>传真号码</th>
                                <td>{$contractor->fax}</td>
                            </tr>
                            <tr>
                                <th>手机号码</th>
                                <td>{$contractor->mobile}</td>
                            </tr>
                            <tr>
                                <th>电子邮件</th>
                                <td><a href="mailto:{$contractor->email}">{$contractor->email}</a></td>
                            </tr>
                            <br>
                        </table>
                    </div>
                    <br>
                    <!-- //定制师 -->
                    <!-- 方案报价 -->
                    {volist name="plans" id="plan"}
                    <div class="contact-form">
                        <p class="pcontact2">方案报价</p>
                        <p><b>出发日期 :</b> {$plan->travel_date} </p>
                        <p><b>出行人数 :</b> {$plan->people_num}</p>
                        <p><b>币种 :</b> {$plan->currency}</p>
                        <p><b>总费用 :</b>{$plan->total_cost}</p>
                        <p><b>最晚付款时间 :</b> {$plan->last_pay_time}</p>
                        <p><b>收费分类 :</b></p>
                        <table class="table table-bordered" style="text-align: right;">
                            <tr>
                                <th>类型</th>
                                <th>地接</th>
                                <th>住宿</th>
                            </tr>
                            <tr>
                                <th>数量</th>
                                <td>{$plan->getDetailByType('dijie')->number}</td>
                                <td>{$plan->getDetailByType('zhusu')->number}</td>
                            </tr>
                            <tr>
                                <th>频次</th>
                                <td>{$plan->getDetailByType('dijie')->frequency}</td>
                                <td>{$plan->getDetailByType('zhusu')->frequency}</td>
                            </tr>
                            <tr>
                                <th>单价</th>
                                <td>{$detailDijieUnit}</td>
                                <td>{$detailZhusuUnit}</td>
                            </tr>
                            <tr>
                                <th>总价</th>
                                <td>{$detailDijieTotal}</td>
                                <td>{$detailZhusuTotal}</td>
                            </tr>
                            <tr>
                                <th>备注</th>
                                <td>{$plan->getDetailByType('dijie')->remark}</td>
                                <td>{$plan->getDetailByType('zhusu')->remark}</td>
                            </tr>
                        </table>
                    </div>
                    {/volist}
                    <br>
                    <!-- //方案报价 -->
                    <!-- 费用包含 -->
                    <div class="contact-form">
                    <br>
                        <p class="pcontact2">酒店信息</p> {volist name="hotels" id="hotel" key="key"}
                        <p class="title"><b><i class="glyphicon glyphicon-glass"></i> {$hotel->designation} :</b></p>
                        <p><b>酒店城市：</b>{$hotel->city}</p>
                        <p><b>星级：</b>{$hotel->star_level}</p>
                        <p><b>备注：</b>{$hotel->remark}</p>
                        {/volist}
                        <p>本报价按照欧元兑换人民币汇率7.98核算</p>
                        <br>
                    </div>
                    <!-- footer -->
                    <div class="w3agile footer">
                        <div class="footer-text">
                            <p>&copy; 2016 洛克旅行 . All Rights Reserved | Design by 梦云智</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>