{extend name="index" /}
{block name="title"}预览{/block}

{block name="content"}
<div class="main-row">
		<h1>洛克旅行</h1>
		<div class="main_frame">
			<iframe class="frame-border scroll-pane" src="/beautifulArtical/thinkphp/application/index/view/article/main.html" frameborder="0"></iframe>
		</div>
	</div>
	<div class="copy-right">
		<p>&copy; 2016 洛克旅行 . All Rights Reserved | Design by 梦云智</p>
	</div>
	<script src="/beautifulArtical/thinkphp/public/style/js/jquery.nicescroll.min.js"></script> 
	<script>
	  $(document).ready(function() {
	  
		var nice = $("html").niceScroll();  // The document page (body)
		
		$("#div1").html($("#div1").html()+' '+nice.version);
		
		$("#boxscroll").niceScroll(); // First scrollable DIV
		
	  });
	</script>
<div style="min-height: 795px;">
    <h1>分享微信功能</h1>
    <div class="social-share" data-sites="wechat"></div>
    <script>
        var $config = {
            url: 'https://www.baidu.com',       // 网址，默认使用 window.location.href
            image: '',                          // 图片, 默认取网页中第一个img标签
            title: '',                          // 标题，默认读取 document.title 或者 <meta name="title" content="share.js" />
            description: '',                    // 描述, 默认读取head标签：<meta name="description" content="PHP弱类型的实现原理分析" />
        };
        $('.social-share').share($config);
    </script>
</div>
{/block}