{extend name="index" /}
{block name="title"}预览{/block}

{block name="content"}
<div class="main-row">
		<h1>洛克旅行</h1>
		<div class="main_frame">
			<iframe class="frame-border scroll-pane" src="main.html" frameborder="0"></iframe>
		</div>
	</div>
	<div class="copy-right">
		<p>&copy; 2016 洛克旅行 . All Rights Reserved | Design by 梦云智</p>
	</div>
	<script src="js/jquery.nicescroll.min.js"></script> 
	<script>
	  $(document).ready(function() {
	  
		var nice = $("html").niceScroll();  // The document page (body)
		
		$("#div1").html($("#div1").html()+' '+nice.version);
		
		$("#boxscroll").niceScroll(); // First scrollable DIV
		
	  });
	</script>
{/block}