{extend name="index"} {block name="title"}文章编辑{/block} {block name="content"}
<!-- <script type="text/javascript" src="{:__ROOT__}/style/js/Calculation.js"></script> | 此处不再需要计算总价-->
<script type="text/javascript" src="{:__ROOT__}/style/js/Calculation.js"></script>
<!-- 报价逻辑 -->
<script type="text/javascript" src="{:__ROOT__}/bower_components/angular/angular.min.js"></script>
<script>
    var app = angular.module('app',[]);
        app.controller('mainCtrl', function($scope) {
            var self = this;

            // 初始化。
            $scope.adultNum = {$plan->adult_num};   // 成人数
            $scope.childNum = {$plan->child_num};   // 儿童数
            $scope.totalFee = 0;                    // 总费用
            $scope.relevantDetails = [];            // 费用详情

            // 获取一个费用详情
            self.getOneRelevantDetail = function() {
                var relevantDetail = {
                    designation: '',
                    adultUnitPrice: 0,
                    childUnitPrice: 0,
                    remark: ''
                };
                return relevantDetail;
            };

            // 计算总费用
            self.countTotalFee = function(adultNum, childNum, relevantDetails) {
                var total = 0;
                angular.forEach(relevantDetails, function (relevantDetail) {
                        total += relevantDetail.adultUnitPrice * adultNum;
                        total += relevantDetail.childUnitPrice * childNum;
                    }
                );
                return total;
            };

            // 添加一个费用
            self.addRelevantDetail = function() {
                var relevantDetail = self.getOneRelevantDetail();
                $scope.relevantDetails.push(relevantDetail);
            };

            // 减少一个费用
            self.subRelevantDetail = function() {
                $scope.relevantDetails.pop();
            };

            // 费用初始化
            {volist name="$plan->getRelevantDetails()" id="detail"}
                var relevantDetail = {
                    designation: '{$detail->designation}',
                    adultUnitPrice: {$detail->adult_unit_price},
                    childUnitPrice: {$detail->child_unit_price},
                    remark: '{$detail->remark}'
                };
                $scope.relevantDetails.push(relevantDetail);
            {/volist}

                // 监视成人数，儿童数发生变化，重新计算总费用
            $scope.$watchGroup(['adultNum', 'childNum'], function(newValues) {
                $scope.totalFee = self.countTotalFee(newValues[0], newValues[1], $scope.relevantDetails);
            });
                // 监视费用详情发生变化，重新计算总费用
            $scope.$watch('relevantDetails', function(newValue){
                $scope.totalFee = self.countTotalFee($scope.adultNum, $scope.childNum, $scope.relevantDetails);
                }, true); // 第三个参数为true，表示深度监视

                // 绑定
            $scope.subRelevantDetail = self.subRelevantDetail;
            $scope.addRelevantDetail = self.addRelevantDetail;
        });
</script>
<div class="col-md-8 col-md-offset-1" style="margin-top: 10px;min-height: 730px;" ng-app="app" ng-controller="mainCtrl">
    <a class="btn btn-primary" style="margin-bottom: 20px;" href="{:url('article/index')}"><i
            class="glyphicon glyphicon-arrow-left"></i>&nbsp;返回</a>
    <h2><span class="glyphicon glyphicon-edit"></span>&nbsp;文章编辑</h2>
    <br>
    <form method="post" action="{:url ('addsecond',['articleId'=>$articleId])}" enctype="multipart/form-data" onsubmit="setDisabledBtn()">
        <div class="form-group">
            <label for="TitleInput">标题</label>
            <input type="text" class="form-control" id="TitleInput" placeholder="标题" name="title" value="{$title}">
        </div>
        <div class="form-group">
            <label for="TitleInput">副标题</label>
            <input type="text" class="form-control" id="TitleInput" placeholder="副标题" name="subtitle" value="{$subtitle}">
        </div>
        <div class="form-group">
            <label>摘要</label>
            <!-- 加载编辑器的容器 -->
            <script id="container" name="summery" type="text/plain">
                {$summery}
            </script>
            <!-- 配置文件 -->
            <script type="text/javascript" src="{:__ROOT__}/style/js/paragraphController/ueditor.config.js"></script>
            <script type="text/javascript" src="{:__ROOT__}/style/js/paragraphController/ueditor.all.js"></script>
            <!-- 实例化编辑器 -->
            <script type="text/javascript">
            var ue = UE.getEditor('container', {
                toolbars: [
                    ['fullscreen', 'source', 'undo', 'redo', 'bold', 'indent', 'fontsize', 'paragraph', 'italic', 'underline', 'strikethrough', 'superscript', 'subscript', 'touppercase', 'tolowercase', 'justifyleft', 'justifyright', 'justifycenter', 'justifyjustify']
                ],
                autoHeightEnabled: true,
                autoFloatEnabled: true
            });
            </script>
        </div>
        <div class="form-group">
            <label>出发日期</label>
            <input type="date" class="form-control" name="begin_date" value="{$article->begin_date}" required>
        </div>
        <div class="form-group">
            <label>封面</label>
            <br>
            <div class="row">
                <div id="carousel-example-generic" class="col-md-6 carousel slide" data-ride="carousel" style="height:150px;width:300px;">
                    <ol class="carousel-indicators">
                        {volist name="$article->getArticleCover()" id="image" key="key"}
                        <li data-target="#carousel-example-generic" data-slide-to="{$key}" class="{eq name=" $key " value="1 "}active{/eq}"></li>
                        {/volist}
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        {volist name="$article->getArticleCover()" id="image" key="key"}
                        <div class="item {eq name='$key' value='1'}active{/eq}">
                            <img src="{:__ROOT__}/upload/{$image}" style="width: auto;height: auto;max-width: 268px;max-height: 148px;">
                            <div class="carousel-caption">
                            </div>
                        </div>
                        {/volist}
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                </div>
            </div>
            <br>
            <br>
            <a class="btn btn-default" href="{:url('editfirstadd?articleId=' . $articleId)}"><span
                    class="glyphicon glyphicon-pencil"></span>&nbsp;更改文章及定制师</a>
        </div>
        <div class="form-group">
            <label>正文</label>
            <span class="col-md-offset-1"></span>
            <a class="btn btn-primary btn-sm" href="{:url('Paragraph/index', ['articleId'=>$articleId,'id'=>''])}"><span
                    class="glyphicon glyphicon-plus"></span>&nbsp;自定义段落</a>
        </div>
        <ul style="list-style-type: none;">
            {volist name="paragraphUp" id="paragraph"}
            <li>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>{$paragraph->title}</h4>
                        <div class="row">
                            <div class="col-md-3" style="height: auto;">
                                <img src="{:__ROOT__}/upload/{$paragraph->image}" style="width: auto; height: auto; max-width: 250px; max-height: 140px;" alt="">
                            </div>
                            <div class="col-md-6 col-md-offset-1" style="word-wrap: break-word;">
                                {$filter->limitWordNumber($paragraph->content, 245)}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="height: 40px; margin-top: 10px;">
                                <a class="btn btn-info btn-sm" href="{:url('Paragraph/edit',['articleId'=>$articleId,'id'=>$paragraph->id])}"><span
                                        class="glyphicon glyphicon-pencil"></span>&nbsp;编辑</a>
                                <a class="btn btn-danger btn-sm" href="{:url('Paragraph/delete', ['articleId'=>$articleId,'id'=>$paragraph->id])}"><span
                                        class="glyphicon glyphicon-trash"></span>&nbsp;删除</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {/volist} {volist name="attraction" id="_attraction" key="keys"}
            <li>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Day{$keys}</h4>
                        <br>
                        <div class="row">
                            <div class="col-md-5">
                                总行程：{$_attraction->trip}
                                <br> 日期：{$_attraction->getDateByBeginDateAndOrder($article->begin_date, $keys)}
                                <br>
                                <!-- 导游：{$_attraction->guide}<br> -->
                                用餐：{$_attraction->getMeals()}
                                <br> 用车：{$_attraction->getCars()}
                                <br> 景点：{volist name="$_attraction->getCheckedMaterial()" id="material"}
                                <button type="button" class="btn btn-default btn-xs">{$material->designation}</button>
                                {/volist}
                                <br> 酒店：{$_attraction->getHotelDesignation()}
                                <br> 描述：{$_attraction->description | $filter->limitWordNumber}
                                <br>
                            </div>
                            <div class="col-md-5">
                                {eq name="$_attraction->image" value=""}{else /}
                                <img src="{:__ROOT__}/upload/{:json_decode($_attraction->image)}" style="width: auto;height: auto;max-width: 300px;max-height: 170px;"> {/eq}
                            </div>
                            <div class="col-md-2">
                                <br>
                                <br> {eq name="$keys" value="1"} {else /}<a class="btn btn-default" href="{:url('upAttraction',['articleId'=>$articleId,'attractionId'=>$_attraction->id,'number'=>$keys])}"><span
                                    class="glyphicon glyphicon-arrow-up"></span></a>{/eq}
                                <br> {eq name="$keys" value="$length"} {else /}<a class="btn btn-default" href="{:url('downAttraction',['articleId'=>$articleId,'attractionId'=>$_attraction->id,'number'=>$keys])}"><span
                                    class="glyphicon glyphicon-arrow-down"></span></a>{/eq}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="height: 40px; margin-top: 10px;">
                                <a class="btn btn-info btn-sm" href="{:url('attraction/edit' ,['articleId'=>$articleId,'attractionId'=>$_attraction->id] )}"><span
                                        class="glyphicon glyphicon-pencil"></span>&nbsp;编辑</a>
                                <a class="btn btn-danger btn-sm" href="{:url('attraction/delete' ,['articleId'=>$articleId,'attractionId'=>$_attraction->id] )}"><span
                                        class="glyphicon glyphicon-trash"></span>&nbsp;删除</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <div class="row-fluid">
            </div>
            {/volist} &nbsp;&nbsp;
            <a class="btn btn-primary btn-sm" href="{:url('Attraction/add?articleId='.$articleId)}"><span
                    class="glyphicon glyphicon-plus"></span>&nbsp;日程</a>
            <div style="margin-top: 60px;">
                <div class="row">
                    <div class="col-md-12">
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="firstform">
                                <br>
                                <div class="control-group row">
                                    <label class="control-label">出行人数</label>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="form-group col-md-3">
                                            <label>成人数</label>
                                            <input type="number" style="background-color: #fcf8e3;" class="form-control"
                                                   name="adultNum" placeholder="成人..."
                                                   ng-model="adultNum" required>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>儿童数</label>
                                            <input type="number" style="background-color: #fcf8e3;" class="form-control"
                                                   name="childNum" placeholder="儿童..."
                                                   ng-model="childNum" required>

                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="control-group row" id="quoteGroup">
                                    <label>报价类别</label>
                                    <br><br>
                                    <div class="row" ng-repeat="relevantDetail in relevantDetails">
                                        <div class="form-group col-md-3">
                                            <label>名称</label>
                                            <input type="text" class="form-control" ng-model="relevantDetail.designation" name="designation[]">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>成人单价</label>
                                            <input type="text" class="form-control" ng-model="relevantDetail.adultUnitPrice" name="adultUnitPrice[]">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>儿童单价</label>
                                            <input type="text" class="form-control" ng-model="relevantDetail.childUnitPrice" name="childUnitPrice[]">
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label>备注</label>
                                            <input type="text" class="form-control" ng-model="relevantDetail.remark" name="remark[]">
                                        </div>
                                    </div>
                                </div>
                                <a class="btn btn-primary" ng-click="addRelevantDetail()" ><i class="glyphicon glyphicon-plus"></i></a>
                                <a class="btn btn-danger" ng-click="subRelevantDetail()"><i class="glyphicon glyphicon-minus"></i></a>
                                <hr>
                                <div class="control-group row">
                                    <label>币种</label>
                                    <div class="controls">
                                        <input type="text" class="form-control" name="currency" placeholder="币种..." value="{$plan->currency}" 　required>
                                    </div>
                                </div>
                                <hr>
                                <div class="control-group row">
                                    <label>总费用</label>
                                    <div class="controls">
                                        <input readonly type="text" style="background-color: #fcf8e3;" class="form-control" name="totalCost" placeholder="总费用..." ng-model="totalFee" />
                                    </div>
                                </div>
                                <hr>
                                <div class="control-group row">
                                    <label>最晚付款时间</label>
                                    <div class="controls">
                                        <input type="date" class="form-control" name="lastPayTime" value="{$plan->last_pay_time}" required>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            {volist name="paragraphDown" id="paragraph"}
            <li>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>{$paragraph->title}</h4>
                        <div class="row">
                            <div class="col-md-3" style="height: 100px;">
                                <img src="{:__ROOT__}/upload/{$paragraph->image}" style="height: 100px; width: 180px;" alt="">
                            </div>
                            <div class="col-md-6 col-md-offset-1" style="word-wrap: break-word;">
                                {$paragraph->content | $filter->limitWordNumber}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="height: 40px; margin-top: 10px;">
                                <a class="btn btn-info btn-sm" href="{:url('Paragraph/edit',['articleId'=>$articleId,'id'=>$paragraph->id])}"><span
                                        class="glyphicon glyphicon-pencil"></span>&nbsp;编辑</a>
                                <a class="btn btn-danger btn-sm" href="{:url('Paragraph/delete', ['articleId'=>$articleId,'id'=>$paragraph->id])}"><span
                                        class="glyphicon glyphicon-trash"></span>&nbsp;删除</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {/volist}
            <!-- 定制师 -->
            <li>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered">
                                    {eq name="$judgeContractor" value="0"} {else/}
                                    <tr>
                                        <th>定制师</th>
                                        <td>{$contractor->designation}</td>
                                    </tr>
                                    <tr>
                                        <th>微信</th>
                                        <td>{$contractor->phone}</td>
                                    </tr>
                                    <tr>
                                        <th>手机号码</th>
                                        <td>{$contractor->mobile}</td>
                                    </tr>
                                    <tr>
                                        <th>电子邮件</th>
                                        <td>{$contractor->email}</td>
                                    </tr>
                                </table>
                                <a href="{:url('contractor/edit' ,['contractorId'=>$contractor->id] )}" class="btn btn-info btn-sm">
                                    <i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑
                                </a> {/eq}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div>
                    <table class="table table-hover table-responsive table-bordered" style="word-break:break-all;">
                        {eq name="$judgeHotel" value="0"} {else/}
                        <h3>酒店信息</h3>
                        <tr class="warning">
                            <th width="20%">名称</th>
                            <th width="20%">城市</th>
                            <th width="20%">星级</th>
                            <th width="40%">备注</th>
                        </tr>
                        {/eq} {volist name="hotel" id="hotel"}
                        <tr>
                            <th>{$hotel->designation}</th>
                            <th>{$hotel->city}</th>
                            <th>{$hotel->star_level}</th>
                            <th>{$hotel->remark}</th>
                        </tr>
                        {/volist}
                    </table>
                </div>
            </li>
        </ul>
        <script type="text/javascript" src="{:__ROOT__}/style/js/Calculation.js"></script>
        <button type="submit" id="submit-btn" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>&nbsp;完成
        </button>
        <br>
        <br>
    </form>
</div>

{/block}