{extend name="index"}
{block name="title"}文章编辑{/block}
{block name="content"}
<div class="col-md-8 col-md-offset-1" style="margin-top: 60px;" >
	<h2><span class="glyphicon glyphicon-edit"></span>&nbsp;文章编辑</h2>
	<br>
	<form method="post" action="{:url ('addsecond',['id'=>$id])}" enctype="multipart/form-data">
		<div class="form-group">
			<label for="TitleInput">标题</label>
			<input type="text" class="form-control" id="TitleInput" placeholder="标题" name="title" value="{$title}">
		</div>
		<div class="form-group">
			<label for="SummaryInput">摘要</label>
			<input type="text" class="form-control" id="SummaryInput" placeholder="摘要" name="summary" value="{$summery}">
		</div>
		<div class="form-group">
			<label for="exampleInputFile">封面</label>
			<img src="{:__ROOT__}/upload/{$cover}" style="height: 100px; width: 180px; " alt="无图" >
				<a class="btn btn-default" href="{:url('firstadd?id=' . $id)}">更改</a>
		</div>
		<div class="form-group">
			<label for="TextInput">正文</label>
			<span class="col-md-offset-1">
				<a class="btn btn-primary btn-sm" href="{:url('Paragraph/index', ['article_id'=>'$id','id'=>''])}"><span class="glyphicon glyphicon-plus"></span>&nbsp;段落</a>&nbsp;&nbsp;
				<a class="btn btn-primary btn-sm" href="{:url('Attraction/add?id='.$id)}"><span class="glyphicon glyphicon-plus"></span>&nbsp;景点</a>&nbsp;&nbsp;
				<a class="btn btn-primary btn-sm" href="#"><span class="glyphicon glyphicon-plus"></span>&nbsp;方案报价</a>&nbsp;&nbsp;
				<a class="btn btn-primary btn-sm" href="{:url('Contractor/add?id='.$id)}"><span class="glyphicon glyphicon-plus"></span>&nbsp;订制师</a>
			</span>
		</div>
		<ul id="foo" class="block__list block__list_words" style="list-style-type: none;">
		{volist name="paragraphup" id="paragraph"}
		<li>
			<div class="panel panel-default">
					<div class="panel-body">
						<h4>{$paragraph->title}</h4>
						<div class="row">
							<div class="col-md-3" style="height: 100px;">
								<img src="{:__ROOT__}/upload/{$paragraph->image}" style="height: 100px; width: 180px;">
							</div>
							<div class="col-md-8 col-md-offset-1" style="height: 100px;  display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical; ">
							{$paragraph->content}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="height: 40px; margin-top: 10px;">
							<a class="btn btn-info btn-sm" href="{:url('Paragraph/edit,['article_id'=>'$id','id'=>$paragraph->id])}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;编辑</a>
							<a class="btn btn-danger btn-sm" href="{:url('Paragraph/delete', ['article_id'=>'$id','id'=>$paragraph->id])}"><span class="glyphicon glyphicon-trash"></span>&nbsp;删除</a>
						</div>
					</div>
					</div>
			</div>
		</li>
		{/volist}
			{volist name="attraction" id="attractions"}
			<li>
				<div class="panel panel-default">
					<div class="panel-body">
						<h4>{$attractions->title}</h4>
						<div class="row">
							<div class="col-md-3" style="height: 100px;">
								<img src="{:__ROOT__}/upload/{$attractions->image}" style="height: 100px; width: 180px;">
							</div>
							<div class="col-md-8 col-md-offset-1" style="height: 100px;  display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical; ">
							{$attractions->description}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="height: 40px; margin-top: 10px;">
							<a class="btn btn-info btn-sm" href="{:url('#?id=' . $id)}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;编辑</a>
							<a class="btn btn-danger btn-sm" href="{:url('#id=' . $id)}"><span class="glyphicon glyphicon-trash"></span>&nbsp;删除</a>
						</div>
					</div>
				</div>
			</div>
		</li>
		{/volist}
		{volist name="paragraphdown" id="paragraph"}
		<li>
			<div class="panel panel-default">
					<div class="panel-body">
						<h4>{$paragraph->title}</h4>
						<div class="row">
							<div class="col-md-3" style="height: 100px;">
								<img src="{:__ROOT__}/upload/{$paragraph->image}" style="height: 100px; width: 180px;">
							</div>
							<div class="col-md-8 col-md-offset-1" style="height: 100px;  display:-webkit-box;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical; ">
							{$paragraph->content}
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" style="height: 40px; margin-top: 10px;">
							<a class="btn btn-info btn-sm" href="{:url('#?id=' . $id)}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;编辑</a>
							<a class="btn btn-danger btn-sm" href="{:url('#id=' . $id)}"><span class="glyphicon glyphicon-trash"></span>&nbsp;删除</a>
						</div>
					</div>
					</div>
			</div>
		</li>
		{/volist}
	</ul>
	<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>&nbsp;完成</button>
	<br><br>
</form>
</div>
{/block}
