{extend name="index" /} {block name="title"}编辑订制师 {/block}

    {block name="content"}
    <script type="text/javascript" src="{:__ROOT__}/style/js/Calculation.js"></script>
    <div class="col-md-8 col-md-offset-1" style="margin-top: 10px;min-height: 735px;">
        <a class="btn btn-primary" style="margin-bottom: 20px" onclick="javascript:history.back(-1);"><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;返回</a>
            <h2><span class="glyphicon glyphicon-edit"></span>&nbsp;编辑订制师</h2>
            <br>
            {php}$action = request()->action() === 'add' ? 'save' : 'update';{/php}
            <form action="{:url($action,['contractorId'=>$contractor->id])}" method="post" onsubmit="setDisabledBtn()">
                <div class="form-group">
                    <label>姓名</label>
                    <input type="text" class="form-control" name="designation" placeholder="姓名..." value="{$contractor->designation}" required>
                </div>
                <div class="form-group">
                    <label>微信</label>
                    <input type="text" class="form-control" name="phone" placeholder="电话..." value="{$contractor->phone}" >
                </div>
                <div class="form-group">
                    <label>手机</label>
                    <input type="text" class="form-control" name="mobile" placeholder="手机..." value="{$contractor->mobile}" >
                </div>
                <div class="form-group">
                    <label>电子邮箱</label>
                    <input type="email" class="form-control" name="email" placeholder="邮箱..." value="{$contractor->email}">
                </div>
                <div class="form-group">
                    <input class="hidden" name="pre_url" value="{$pre_url}">
                </div>
                <br>
                <div class="form-group">
                    <button type="submit" id="submit-btn" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i>&nbsp;保存</button>
                </div>
            </form>
    </div>
    {/block}