{extend name="index" /}
{block name="title"}素材管理{/block}
{block name="content"}
    <div class="row">
        <br>
        <div class="container">
            <div class="text-right">
                <a type="button" class="btn btn-primary" href="{:url('addIndex')}"><i class="glyphicon glyphicon-plus"></i>&nbsp;&nbsp;添加素材</a>
            </div>
        </div>
        <div class="container">
            <hr>
        </div>
        
    </div>

    <div class="container">
        <hr>
    </div>
{/block}